:root{
    background-color: rgb(36, 34, 34);
}
/********Header********/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(36, 34, 34);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color: azure;
    transition: 0.25s ease;
}

#navbar li a:hover{
    color: orange;
}

#navbar li a.active{
    color: orange;
}

/********Specials********/
#special{
    font-family: 'Poppins', sans-serif;
    background-image: url("images/burger.jpg");
    height: 80vh;
    width: auto;
    margin-top: 1%;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#special h1{
    padding: 0 20px;
    color: azure;
    font-size: 50px;
    height: 15px;
}

#special h3{
    padding: 0 20px;
    color: azure;
    font-size: 25px;
    height: 20px;
}

#special button{
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    background-color: azure;
    border-radius: 10px;
    margin-top: 55vh;
    height: 5vh;
    width: 70%;
    align-self: center;
    border: transparent solid;
    background-color: orange;
}
/********About********/
#about{
    margin: 20px 0;
    display: flex;
    align-items: center;
}

#about img{
    width: 50%;
    height: auto;
} 

#about div{
    padding-left: 40px;
    color: azure;
    font-family: 'Poppins', sans-serif;
}
/********Find********/
#find{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

#find .details{
    margin-left: 20px;
    width: 40%;
    color: azure;
    font-family: 'Poppins', sans-serif;
}

#find .details h2{
    font-size: 26px;
    line-height: 35px;
}

#find .details p{
    height: 15px;
}

#find .map{
    width: 55%;
    height: 450px;
}

#find .map iframe{
    width: 100%;
    height: 100%;
}
/********Reservations********/
#reserveIntro{
    font-family: 'Poppins', sans-serif;
    background-image: url("images/privateRoom.avif");
    height: 80vh;
    width: auto;
    margin-top: 1%;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#reserveIntro h1{
    padding: 0 20px;
    color: azure;
    font-size: 50px;
    height: 15px;
}

#reserveIntro button{
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    background-color: azure;
    border-radius: 10px;
    margin-top: 65vh;
    height: 5vh;
    width: 70%;
    align-self: center;
    border: transparent solid;
    background-color: orange;
}
/********Footer********/
#footer{
    color: azure;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: rgb(52, 50, 50);;
    box-shadow: 0 5px 15px rgb(36, 34, 34);
}

#footer li{
    list-style: none;
}

#footer li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: azure;
}
/********Misc.********/
.logo{
    width: 100px;
    height: 100px;
}

.fontPoppins{
    font-family: 'Poppins', sans-serif;
}

#container {
    color: rgb(239, 104, 8);
    font-family: 'Poppins', sans-serif;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
    background: rgb(14, 246, 246);
    color: #fff;
}

#container h1{
    margin-bottom: 10px;
}