:root{
    background-color: rgb(36, 34, 34);
}
/********Header********/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(36, 34, 34);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin: 0 15px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    color: azure;
    transition: 0.25s ease;
}

#navbar li a:hover{
    color: orange;
}
/********Specials********/
#special{
    font-family: 'Poppins', sans-serif;
    background-image: url("images/burger.jpg");
    height: 80vh;
    width: auto;
    margin-top: 1%;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#special h1{
    padding: 0 20px;
    color: azure;
    font-size: 50px;
    height: 15px;
}

#special h3{
    padding: 0 20px;
    color: azure;
    font-size: 25px;
    height: 20px;
}

#special button{
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    background-color: azure;
    border-radius: 10px;
    margin-top: 55vh;
    height: 5vh;
    width: 70%;
    align-self: center;
    border: transparent solid;
    background-color: orange;
}
/*******Menu*********/
#food{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: azure;
    align-content: center;
}

#food .pro{
    align-self: center;
    width: 25%;
    padding: 10px 12px;
    border: rgba(255, 70, 0, 0.7) solid 2px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px rgba(211, 12, 12, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#food .pro:hover{
    box-shadow: 0 0 30px rgba(255, 70, 0, 0.65);
}
/********About********/
#about{
    margin: 40px 0;
    display: flex;
    align-items: center;
}

#about img{
    width: 50%;
    height: auto;
} 

#about div{
    padding-left: 40px;
    color: azure;
    font-family: 'Poppins', sans-serif;
}
/********Find********/
#find{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

#find .details{
    margin-left: 20px;
    width: 45%;
    color: azure;
    font-family: 'Poppins', sans-serif;
}

#find .details h2{
    font-size: 26px;
    line-height: 35px;
}

#find .details #hours p{
    height: 15px;
}

#find .map{
    width: 50%;
    height: 450px;
}

#find .map iframe{
    width: 100%;
    height: 100%;
}
/********Reservations********/
#reserveIntro{
    font-family: 'Poppins', sans-serif;
    background-image: url("https://www.blondieslasvegas.com/images/restaurants_images/b1.jpg");
    height: auto;
    width: auto;
    margin-top: 1%;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#reserveIntro h1{
    padding: 0 20px;
    color: azure;
    font-size: 50px;
    height: 15px;
}

#reserveIntro button{
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    background-color: azure;
    border-radius: 10px;
    margin-top: 40vh;
    height: 5vh;
    width: 45%;
    align-self: center;
    border: transparent solid;
    background-color: orange;
}
#reserveContent {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

#reserveContent p{
    font-size: 15px;
}

#reserveContent img{
    width: 45%;
    height: auto;
} 

#reserveContent div{
    padding-left: 40px;
    color: azure;
    font-family: 'Poppins', sans-serif;
}

#reserveNext {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#reserveNext p{
    font-size: 15px;
}

#reserveNext img{
    width: 45%;
    height: auto;
    
} 
/********Footer********/
#footer{
    color: azure;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: rgb(52, 50, 50);;
    box-shadow: 0 5px 15px rgb(36, 34, 34);
    border-radius: 25px;
}

#footer #mediaLinks{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 40px;
}

#footer #mediaLinks i{
    margin: 0 2.5%;
    transition: 0.25s ease;
}

#footer #mediaLinks i:hover{
    color: orange;
}

 #footer #textInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
 }

 #footer #textInfo div{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    font-size: 16px;
    width: 250px;
    margin: 0 10px;
 }

 #footer #textInfo div:hover{
    color: orange;
 }

 #footer #textInfo div *{
    margin: 0 5px;
    font-family: "Poppins", sans-serif;
 }
/********Misc.********/
.logo{
    width: 100px;
    height: 100px;
}
/********Contact******/
.form {
    background: rgb(36, 34, 34);
    color: rgb(239, 104, 8);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 53px 0;
}

.form .formBox{
    display: flex;
    padding: 0px 70px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
}

input::placeholder{
    color: gainsboro;
    opacity: 0.9;
}

textarea{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.9;
}

button{
    font-family: 'Poppins', sans-serif;
    background: rgb(239, 104, 8);
    width: 200px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(233, 167, 35, 0.3)
}

.feedbackText{
    font-size: 13px;
}

#formTitle{
    width: auto;
    height: 40px;
    font-size: 40px;
    margin-left: 30px;
}